<div class="description">
  <p>The <a href="https://datatracker.ietf.org/wg/openpgp/documents/">IETF OpenPGP working group</a> is rechartering, and we want to pick a reasonable and limited set of topics to work on.
  </p>
  <p>
    The <a href="https://gitlab.com/openpgp-wg/openpgp-wg-admin/-/blob/main/charter.md">proposed new charter</a> lists many in-scope topics, and this poll is intended to get a sense of which topics have the most interest in the working group.
  </p>
  <p>
    This poll is for people participating in (or intending to participate in) the OpenPGP working group.  Please rank your choices based on which topics you are <strong>willing to contribute to or review</strong>. Ballots are not secret.
  </p>
  <p>
    If you don't understand a poll option, please look it up in <a href="https://gitlab.com/openpgp-wg/openpgp-wg-admin/-/blob/main/charter.md">the proposed charter</a>.
  </p>
  <p>
    The chairs of the working group will use the outcome of this poll as a guide to select initial milestones related to no more than three or four specific topics to work on.
  </p>
  <p>
    If you want to recommend more topics, please write to <a href="mailto:openpgp@ietf.org">the mailing list</a>. If you have any trouble operating this poll, please send mail to <a href="mailto:openpgp-chairs@ietf.org">the WG chairs</a>.
  </p>
</div>
